<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.xml" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="LOG_PATH" value="ErrorLog.log" />
    <add key="M_KIND" value="21" />
    <add key="MERCHANT_NO" value="22555003" />
    <add key="DB_KIND" value="Official" />
    <add key="HiLoClientConnectIpAndPort" value="127.0.0.1:6100" />
    <add key="BankAlive" value="false"/>
    <add key="ManualBankPass" value="false"/>
    <add key="BrokerURL" value="failover:(tcp://10.27.68.155:61616,tcp://127.0.0.1:61616)?transport.randomize=false"/>
    <add key="00000100" value="127.0.0.1:6107:3000:3000"/>
    <add key="00000420" value="127.0.0.1:6107:3000:3000"/>
    <add key="08080100" value="10.27.68.161:6107:3000:3000"/>
    <add key="08080420" value="10.27.68.161:6107:3000:3000"/>
    <add key="BankService" value="127.0.0.1:6107:3000:3000"/>
    <add key="RALBankService" value="127.0.0.1:6108:3000:3000"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="2.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>