<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/log4net.xml"/>
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <context>
      <resource uri="assembly://Kms2.Crypto.Common/Kms2.Crypto.Common.Config/CryptoCommon.xml" />
      <resource uri="assembly://Kms2.Crypto/Kms2.Crypto.Config/kms2_Test.xml" />
      <resource uri="assembly://Kms2.Crypto/Kms2.Crypto.Config/crypto2_Test.xml" />
      <resource uri="assembly://Kms2.Crypto.Utility/Kms2.Crypto.Utility.Config/utility.xml" />
      <resource uri="assembly://Kms2.Crypto.Utility/Kms2.Crypto.Utility.Config/message.xml" />
    </context>
  </spring>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>