<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--LoadKey的後台SocketService[]10.27.68.155-->
    <add key="LoadKeyService" value="10.27.88.164:6112:5000:5000"/>
    <!--LoadKeyTxLog的後台SocketService[]10.27.68.155-->
    <add key="LoadKeyTxLogService" value="10.27.88.164:6113:5000:5000"/>
  </appSettings>
  <system.webServer>
    <!--移除Response的Header訊息-->
    <httpProtocol allowKeepAlive="true">
      <customHeaders>
        <remove name="X-AspNet-Version"/>
        <remove name="X-Powered-By"/>
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <!--處理卡機取得Key的處理函式-->
      <add name="LoadKey" path="ReaderShipment" verb="GET,POST" type="ReaderShipmentWebHandler.ReaderShipmentHandler, ReaderShipmentWebHandler"/>
      <!--處理卡機LoadKey結果的處理函式-->
      <add name="LoadKeyTxLog" path="ReaderShipmentTxLog" verb="GET,POST" type="ReaderShipmentWebHandler.ReaderShipmentTxLogHandler, ReaderShipmentWebHandler"/>
    </handlers>
    <httpErrors errorMode="Custom" defaultResponseMode="File" existingResponse="Auto">
      <remove statusCode="401"/>
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <!--不能加prefixLanguageFilePath="" responseMode="ExecuteURL"(加了ErrorPage就跑不出來了)
      path若檔案在資料夾下不要加/或~/  會找不到路徑(這裡屬於存取靜態檔案錯誤,ex:aaa.gif,aaa.css,aaa.html...)
      ref:http://blog.darkthread.net/post-2015-11-10-customerrors-and-httperrors.aspx-->
      <error statusCode="401" path="Error/Error401.html" />
      <error statusCode="403" path="Error/Error403.html" />
      <error statusCode="404" path="Error/Error404.html" />
      <error statusCode="500" path="Error/Error500.html" />
    </httpErrors>
  </system.webServer>
    <system.web>
      <httpRuntime enableVersionHeader="false"/>
      <!--path若檔案在資料夾下不要加/或~/  會找不到路徑(這裡屬於執行編譯檔案錯誤.ex:aaa.ashx,aaa.aspx...)-->
      <customErrors mode="On">        
      <error statusCode="401" redirect="Error/Error401.html"/>
        <error statusCode="403" redirect="Error/Error403.html"/>
        <error statusCode="404" redirect="Error/Error404.html"/>
        <error statusCode="500" redirect="Error/Error500.html"/>
      </customErrors>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
  <!--設定加入監聽-->
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="traceListener" type="AssemblyName.ListenerClass, AssemblyName"></add>
      </listeners>
    </trace>
  </system.diagnostics>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="FILE-WATCH" />
        <!--放上IIS時要改路徑-->
        <arg key="configFile" value="~/Bin/log4net.xml" />
        <!--使用IIS Express測試時的路徑-->
        <!--<arg key="configFile" value="~/log4net.xml" />-->
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
